<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>LivroLivre</title>

</head>

<body>
<header class="cabecalho">
    <nav>
        <div class="logo">LivroLivre</div>
        <a href="/perfil">Perfil</a>
        <a href="/resenha">Resenhas</a>
        <a href="/principal">Inicio</a>
    </nav>
</header>


    <main class="main">
        <!-- Formulario de postagem (postar livro)-->
        <div class="newPost">
            <div class="infoUser">
                <strong><%=Usuario.nome%> <%=Usuario.sobrenome%></strong>
            </div>
            <form class="formPost" id="formpost" method="post" enctype="multipart/form-data">
                <textarea name="texto" placeholder="Publicar um livro" id="textarea"></textarea>
                

                <div class="iconsAndButtons">
                    <input type="file" required name="imglivro">
                    <!--<div class="icons">
                            <button class="btnFileForm">Foto</button>
                        </div>-->
                    <button type="submit" id="botao" class="btnSubmitForm">Publicar</button>
                </div>
            </form>
        </div>

        <div>
        <!-- Posts enviados-->
        <ul class="posts" id="posts">
            <%Postagens.forEach(function(post){%>
            <li class="post">
                <div class="infoUserPost">
        
                    <div class="nameAndHour">
                        <strong><%=post.usuario.nome%> <%=post.usuario.sobrenome%></strong>
                    </div>
                </div>

                <p>
                    <%=post.texto%>
                </p>
                <img src="/fotos/<%=post.imglivro%>" style="max-width:70%; max-height:70%;">

                <div class="actionBtnPost">
                    <a href="/perfilusers/<%=post.usuario._id%>" class="filesPost chamarchat">Entrar em Contato</a>
                </div>
            </li>
            <%})%>
        </ul>
    </div>
    </main>

</body>

</html>