<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/Perfil.css">
    <title>Perfil</title>


</head>

<body>

    <header>
        <nav>
            <div class="logo">LivroLivre</div>
            <a href="/perfil">Perfil</a>
            <a href="/resenha">Resenhas</a>
            <a href="/principal">Inicio</a>

        </nav>
    </header>

    <div class="container">
            <div class="card">

                <div class="container-text">
                    <strong class="name">Olá, meu nome é <%=Usuario.nome%></strong> 
                    <h3 class="desc">
                        <br>
                        <img src="/img/email-icon.png" alt="email" class="address-icon"> <strong class="email"><%=Usuario.email%></strong> <br>
                        <img src="/img/icone-telefone.png" alt="telefone" class="address-icon"> <strong class="email"><%=Usuario.telefone%></strong> <br>
                        <img src="/img/name-icon.png" alt="nome" class="address-icon"> <strong class="email"><%=Usuario.nome%> <%=Usuario.sobrenome%></strong> <br>
                    </h3> <br> 
                    <a class="edit" href="/principal">Voltar</a>
                    

                </div>
            </div>

            </div>

    </div>

</body>

</html>